.idea/
/public/
.firebase/
.hugo_build.lock
.DS_Store
resources/_gen/*
/node_modules
*.log


# from svelte
.DS_Store
node_modules
/build
/.svelte-kit
/package
!.env.example

/build
.vscode/*

go.work
go.work.sum
.detected-faces.json
tmp/*
.env*
/discover
