<script>
  humansSearchIndex = {
  // You can specify your blog section only:
  // For all pages in your site, use "range .Site.Pages"
  {{ range where .Site.Pages "Section" "humans" }}
  // You can use any unique identifier here
  "{{ .Permalink }}": {
      // You can customize your searchable fields using any .Page parameters
      "title": "{{ .Title  }}",
      "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
      "ethnicity": [{{ range .Params.Ethnicity }}"{{ . }}",{{ end }}],
      "content": {{ .Content | plainify }}, // Strip out HTML tags
      "url": "{{ .Permalink }}"
  },
  {{ end }}
  }
</script>
<!-- Include Lunr and code for your search function,
which you'll write in the next section -->
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
