@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@600;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #214620;
  --color-secondary: #D4AF37;
  --color-text: #333333;
  --color-background: #F5F5F5;
  --color-border: #e5e7eb;
}

.dark {
  --color-primary: #AEC2B6;
  --color-secondary: #D4AF37;
  --color-text: #F5F5F5;
  --color-background: #111827;
  --color-border: #374151;
}