{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="black-80 sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Name</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="Bruce Lee"  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="aliases">Aliases</label>
    <input type="text" id="aliases" name="aliases" class="{{ $.Scratch.Get "inputClasses" }}" placeholder="Little Dragon,Lee Jun-fan" aria-labelledby="aliases"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="dob">Birthdate</label>
    <input type="date" id="dob" name="dob" class="{{ $.Scratch.Get "inputClasses" }}" placeholder="" aria-labelledby="dob"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="ethnicity">Ethnicity</label>
    <input type="text" id="ethnicity" name="ethnicity" class="{{ $.Scratch.Get "inputClasses" }}" placeholder="Chinese" aria-labelledby="ethnicity"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="location">Location</label>
    <input type="text" id="location" name="location" class="{{ $.Scratch.Get "inputClasses" }}" placeholder="Hong Kong, Seattle, California" aria-labelledby="location"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="website">Website</label>
    <input type="text" id="website" name="website" class="{{ $.Scratch.Get "inputClasses" }}" placeholder="https://brucelee.com"  aria-labelledby="website"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="twitter">Twitter</label>
    <input type="text" id="twitter" name="twitter" class="{{ $.Scratch.Get "inputClasses" }}" placeholder="@brucelee"  aria-labelledby="twitter"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="description">Description</label>
    <textarea id="description" name="description" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="description"></textarea>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="tags">Tags</label>
    <input type="text" id="tags" name="tags" class="{{ $.Scratch.Get "inputClasses" }}" placeholder="comma,separated,values" aria-labelledby="tags"/>
    
    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-black bg-animate bg-black" id="contributeButton" type="submit" value="Submit request" />

</form>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let form = document.querySelector("form");
        
        form.onsubmit = () => {
            let formData = new FormData(form);

            // form is submitted, no longer a draft
            formData.append("draft", false);

            // certain inputs should be parsed as an array
            let object = {};
            formData.forEach((value, key) => {
                if (key === "aliases" || key === "ethnicity" || key === "location" || key === "tags") {
                    object[key] = value.split(",");
                } else {
                    object[key] = value;
                }
            });
            // console.log(object);

            // trim values
            trimAll(object);

            // turn form object into JSON format
            let jsonFormData = JSON.stringify(object);
            console.log(jsonFormData);


            // TODO:
            //  send the POST request directly, without converting to JSON?
            // let request = new XMLHttpRequest();
            // request.open("POST", "/apiendpoint");
            // request.send(formData);


            // submitting should not redirect
            return false;
        }

    });

    // https://gist.github.com/UziTech/3b926e732e3a6391b2ab
    function trimAll(obj) {
        for (var prop in obj) {
            if (typeof obj[prop] === "string") {
                obj[prop] = obj[prop].trim();
            } else {
                trimAll(obj[prop]);
            }
        }
    }
</script>