"on":
  push:
    branches:
      - main
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - "Dockerfile"
      - ".github/workflows/*.yml"
      - "internal/**"
      - "functions/api/**"
      - "cmd/**"
      - "mcp/**"

name: Deploy API to cloud run
jobs:
  go-checks:
    uses: ./.github/workflows/go-checks.yml

  tests:
    uses: ./.github/workflows/tests.yml

  deploy-api:
    needs: [go-checks, tests]
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: us-central1-docker.pkg.dev/asianamericans-wiki/asianamericanswiki-api/api
    steps:
      - uses: actions/checkout@v4

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          project_id: "asianamericans-wiki"
          service_account: "github-action-api-deployer@asianamericans-wiki.iam.gserviceaccount.com"
          workload_identity_provider: "projects/424340922093/locations/global/workloadIdentityPools/github-action-wif/providers/github"

      - name: Set outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure Docker
        run: gcloud auth configure-docker --quiet us-central1-docker.pkg.dev

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME .

      - name: Push Docker image
        run: docker push $IMAGE_NAME

      - id: deploy
        name: Deploy
        uses: "google-github-actions/deploy-cloudrun@v2"
        with:
          timeout: 90
          service: "api2"
          region: "us-central1"
          labels: githash=${{ steps.vars.outputs.sha_short }}
          image: ${{ env.IMAGE_NAME }}:latest
          env_vars: |
            GIT_HASH=${{ steps.vars.outputs.sha_short }}
            FIREBASE_AUTH_DOMAIN=asianamericans-wiki.firebaseapp.com
            FIREBASE_PROJECT_ID=asianamericans-wiki
            FIREBASE_STORAGE_BUCKET=asianamericans-wiki.appspot.com
            FIREBASE_MESSAGING_SENDER_ID=424340922093
            FIREBASE_APP_ID=1:424340922093:web:c7a5b00652170e2c9cb6e4
            FIREBASE_MEASUREMENT_ID=G-DNWC1SD6ZZ
          secrets: |-
            XAI_API_KEY=projects/424340922093/secrets/asianamericanswiki-xai-api-key:latest
            FIREBASE_API_KEY=projects/424340922093/secrets/asianamericanswiki-firebase-api-key:latest

      - name: "Use output"
        run: 'curl "${{ steps.deploy.outputs.url }}"/api/v1/version'
