on: ["push", "pull_request"]

name: Go checks
jobs:
  go-checks:
    name: Run various Go checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Check go.mod and go.sum tidiness
        run: |
          go mod tidy && go mod vendor
          if [ ! -z "$(git status --porcelain go.mod go.sum)" ]; then
            echo "Need to run 'go mod tidy && go mod vendor'";
            exit 1;
          fi

      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-file: go.mod

  validate-proto:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "29.3"

      - name: Install protoc-gen-go and protoc-gen-go-grpc
        run: |
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2
          go install google.golang.org/protobuf/cmd/protoc-gen-go
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc

      - name: Generate protobuf files
        run: |
          cd functions/api/server && protoc -I . \
            --go_out . --go_opt paths=source_relative \
            --go-grpc_out . --go-grpc_opt paths=source_relative \
            --grpc-gateway_out . --grpc-gateway_opt paths=source_relative \
            api.proto

      - name: Check for diffs
        run: |
          git diff --exit-code
